<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hyunny333.mapper.PortfolioMapper">
	<select id="getList" resultType="PortfolioVO">
		<![CDATA[
			SELECT 
				`idx`, `title`, `content`, `regdate` 
			FROM 
				`portfolio` 
			ORDER BY 
				`regdate` DESC
		]]>
	</select>

	<insert id="add" parameterType="PortfolioVO">
		INSERT INTO 
			`portfolio` 
		SET 
			`title`=#{title}, 
			`content`=#{content}, 
			`regdate`=NOW()
	</insert>
</mapper>